@font-face {
    font-family: No Debate;
    src: url("../assets/fonts/NoDebate-d9qJR.ttf");
}

:root {
    --clr-primary: #3ECEBD;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

input {
    outline: none;
    border: none;
}

body {
    position: relative;
    min-height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: Nunito, sans-serif;
    line-height: 1.5;
    background-image: url('../assets/bg.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
}

.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 5rem;
    background: rgba(0, 0, 0, .95);
}

main {
    padding: 5rem 0;
}

.logo {
    font-family: No Debate, serif;
    font-size: 2.5rem;
    transition: transform 300ms ease-in;
}

.logo:hover,
.logo:focus-visible {
    transform: scale(1.1);
}

.nav__list {
    display: flex;
    gap: 2em;
    list-style: none;
}

.nav__item {
    font-size: 1.5rem;
    transition: transform 150ms ease-in;
}

.nav__item:hover,
.nav__item:focus-visible {
    transform: scale(1.2);
}

.active {
    position: relative;
}

.active::before {
    content: '';
    position: absolute;
    top: 1.5em;
    left: .4em;
    width: 120%;
    height: .1em;
    background: white;
    transform: translateX(-15%);
}

::placeholder {
    color: rgb(56, 56, 56);
    font-size: 1rem;
}

.search-form {
    position: relative;
    padding: 2rem 5rem;
    margin: 3rem auto 0 auto;
    width: 40em;
    max-width: 100%;
}

#search {
    width: 100%;
    padding: 1em 1.5em;
    border-radius: 1em;
    font-size: 1.1rem;
    background-color: rgba(255, 255, 255, .5);
    color: rgb(0, 0, 0);
}

.filters {
    display: flex;
    gap: .5em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 2rem 2rem 0 2rem;
}

.tag {
    background: rgba(255, 255, 255, .7);
    color: rgb(0, 0, 0);
    font-weight: 700;
    padding: .5em .75em;
    border-radius: .5em;
    cursor: pointer;
}

.marked {
    background: rgba(0, 0, 0, .7);
    color: rgb(255, 255, 255);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1.5em 0;
    background: rgba(0, 0, 0, .9);
    text-align: center;
}

.footer span {
    font-weight: 700;
}

.footer img {
    max-width: 10em;
    padding-left: 1em;
}


/* **************
   *****HOME*****
   ************** */

.home-body {
    background-image: url('../assets/home_bg.svg');
}

.home-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* gap: 2em; */
    /* min-height: 85vh; */
    padding: 2em 5rem;
    margin-top: 2rem;
}

.home__hero {
    padding-bottom: 3em;
}

.title {
    margin-bottom: 1em;
    font-size: 3.5rem;
    line-height: 1.1;
}

.title span {
    color: var(--clr-primary);
}

.cta__btn {
    display: inline-block;
    padding: 1em 1.5em;
    margin-right: 2em;
    border-radius: .5em;
    font-size: 1rem;
    font-weight: 700;
    background: var(--clr-primary);
    color: black;
    transition: transform 300ms ease-in;
}

.cta__btn:hover,
.cta__btn:focus-visible {
    transform: scale(1.1);
}

.home__text {
    max-width: 60ch;
    padding: 1em 0;
}

/* **************
   *****LIST*****
   ************** */

.list-main {
    background-image: url('../assets/tape.svg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 2rem;
    padding: 5rem;
}

.card {
    position: relative;
    width: 100%;
}

.card:hover {
    transform: scale(1.2);
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: .5em;
}

.card__info{
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    padding: 1em;
    text-align: center;
    background: rgba(0, 0, 0, .9);
    visibility: hidden;
    border-radius: .5em;
}

.card:hover .card__info {
    visibility: visible;
}

.card__title {
    font-family: Cinzel Decorative, serif;
    padding-bottom: .5em;
    margin-top: auto;
    font-size: 1.25rem;
}

.card__subtitle::before {
    content: '\2605';
    padding-right: .4em;
}

/* **************
   *SINGLE BOOK*
   ************** */

.book-main {
    background-image: url('../assets/flyingbooks.png');
    /* background-size: 50%; */
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 80% 10%;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 2em;
    padding: 5rem 5rem 0 5rem;
}

.book__visual > img {
    width: 100%;
}

.book__link {
    max-width: 70%;
    height: fit-content;
    padding: 1em 1.5em;
    margin-top: 1em;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, .7);
    transition: transform 300ms ease-in;
    cursor: pointer;
}

.book__link.light {
    background-color: rgba(255, 255, 255, .7);
}

.book__link-img {
    width: 100%;
}

.book__link:hover {
    transform: scale(1.1);
}

.book__info p {
    padding-top: .5em;
    max-width: 70ch;
}

.book__info h2 > span,
.book__info p > span {
    color: rgb(195, 195, 195);
    padding-right: .5em;
}

.book__moreinfo-container {
    padding: 2em 5rem;
    display: flex;
    justify-content: space-evenly;
}

.book__moreinfo-books {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.book__morinfo-link {
    max-width: 20%;
    overflow: hidden;
}

.book__morinfo-link img {
    width: 100%;
    height: 100%;
    transition: transform 300ms ease-in;
}

.book__morinfo-link:hover img {
    transform: scale(1.1);
}

@media (max-width: 600px) {

    .header {
        padding: 1em 2rem;
    }

    .home-container {
        padding: 2em 2rem;
    }

    .search-form {
        padding: 2rem;
    }

    .list-container {
        grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
        gap: 2rem;
        padding: 2rem;
    }

    .card__info {
        padding: .5em;
    }

    .card__title {
        font-size: .65rem;
    }

    .card__link {
        padding: .5em;
        font-size: .5rem;
    }

    .book-main {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center 2%;
    }

    .book-container {
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    .book__visual,
    .book__info,
    .book__moreinfo {
        max-width: 100%;
    }

    .book__links {
        display: flex;
        gap: .5em;
        padding-bottom: 1em;
    }

    .book__moreinfo-container {
        padding: 0 2rem 2rem 2rem;
        flex-direction: column;
    }

    .book__links {
        justify-content: space-around;
    }

    .book__link {
        max-width: 40%;
    }
    
}