<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mindUnleased - Books over Movies | List</title>

    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="../index.html">mindUnleashed</a>
        </div>
        
        <!-- <button class="mobile-nav-toggle" aria-controls="nav__list" aria-expanded="false" aria-label="menu"></button> -->
        
        <nav class="nav contact__nav">
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="../index.html">Home</a></li>
            </ul>
        </nav>
    </header>
    
    <main class="book-main">
        
        <form action="" class="search-form">
            <label for="search"></label>
            <input type="search" id="search" class="home__search" placeholder="movie, tv show, diresctor, producer...">
            <button type="submit" class="search__btn"><img class="search__img" src="../assets/icons/search.svg" alt="serch icon-loop"></button>
        </form>

        <div class="book-container">

            <div class="book__visual">
                <img src="../assets/cover.jpg" alt="Book cover">
            </div>

            <div class="book__info">
                <h2><span>title: </span>The Fellowship of the Ring</h2>
                <p><span>author: </span>J. R. R. Tolkien</p>
                <p><span>first published: </span>1954</p>
                <p><span>series: </span>The Lord of the Rings</p>
                <p><span>vol: </span>1</p>
                <p><span>genre: </span>Fantasy</p>
                <p><span>folowed by: </span>The Two Towers</p>
                <p><span>summary:</span>One Ring to rule them all, One Ring to find them, One Ring to bring them all and in the darkeness bind them. In ancient times the Rings of Power were crafted by the Elven-smiths, and Sauron, The Dark Lord, forged the One Ring, filling it with his own power so that he could rule all others. But the One Ring was taken from him, and though he sought it throughout Middle-earth, it remained lost to him. After many ages it fell into the hands of Bilbo Baggins, as told in The Hobbit. In a sleepy village in the Shire, young Frodo Baggins finds himself faced with an immense task, as his elderly cousin Bilbo entrusts the Ring to his care. Frodo must leave his home and make a perilous journey across Middle-earth to the Cracks of Doom, there to destroy the Ring and foil the Dark Lord in his evil purpose.</p>
            </div>

            
        </div>
        <div class="book__moreinfo-container">
            <div class="book__links">
                <div class="book__link light"><a href="#"><img src="../assets/Goodreads-svg.svg" alt="Goodreads logo" class="book__link-img"></a></div>
                <div class="book__link"><a href="#"><img src="../assets/bookdepository.svg" alt="Bookdepository logo" class="book__link-img"></a></div>
            </div>
            <div class="book__moreinfo">
                <p>Related books:</p>
                <div class="book__moreinfo-books">
                    <a class="book__morinfo-link" href="#"><img src="../assets/the_lord_of_the_rings_2.jpg" alt="Book cover"></a>
                    <a class="book__morinfo-link" href="#"><img src="../assets/the_lord_of_the_rings_3.jpg" alt="Book cover"></a>
                    <a class="book__morinfo-link" href="#"><img src="../assets/the_hobbit.jpg" alt="Book cover"></a>
                    <a class="book__morinfo-link" href="#"><img src="../assets/x293.jpg" alt="Book cover"></a>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">Created by Jovana Raskovic &copy; 2021 mindUnleashed</footer>
</body>
</html>